.exercitiu {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border: 2px solid gray;
	background-color: azure;
	border-radius: 10px;
	margin: 10px 100px;
}

.input,
.button,
.output {
	margin: 20px;
}

.input {
	font-size: 20px;
}

input {
	height: 20px;
	width: 100px;
	border: 2px solid black;
}

button {
	padding: 15px;
	border: none;
	color: white;
	background-color: cadetblue;
	font-size: 15px;
	border-radius: 10px;
} 